<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI
        Components</a></p>
  </div> -->

  <ion-card *ngFor="let inf of informatives">
    <ion-card-header>
      <ion-card-subtitle>taital</ion-card-subtitle>
      <ion-card-title>{{ inf.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ inf.description }}
      <ion-button (click)="like(inf)" fill="clear">
        <ion-icon [name]="inf.liked ? 'heart' : 'heart-outline'"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>